* {
  margin: 0;
  padding: 0;
}
#instructions {
  color: ivory;
  font-size: 30px;
  align-content: center;
  top: 60%;
  left: 30%;
  position: absolute;
}
#first h1 {
  color: ivory;
  font-size: 60px;
  align-content: center;
  left: 30%;
  position: absolute;
}
#first img {
  height: 100vh;
  width: 100vw;
  position: absolute;
}
#first button{
  position: absolute;
  height: 100px;
  width: 200px;
  top:40%;
  left:40%;
}
#second {
  display: none;
}
#score-board {
  display: block;
  margin: 50px;
}
#score {
  width: 200px;
  background-image: linear-gradient(grey, aqua);
  font-size: 30px;
  text-align: center;
  margin: 50px;
  border-radius: 50%;
}
#progress-bar {
  width: 30%;
  height: 40%;
  background-image: linear-gradient(blue, pink);
  border-radius: 20px;
  display: inline-block;
}
#progress {
  width: 100%;
  border-radius: 15px;
  height: 100%;
  background-color: grey;
  float: right;
}
h1 {
  text-align: center;
  color: lime;
  font-size: 60px;
  margin: 30px;
}

.mode {
  float: right;
  margin-right: 20px;
  margin-top: -75px;
  background-color: yellow;
  width: 250px;
  height: 80px;
  font-size: 35px;
  transition-duration: 0.4s;
}
.mode:hover {
  background-color: grey;
  box-shadow: 5px 5px;
  cursor: pointer;
}

#backCanvas {
  position: absolute;
  left: 0%;
  top: 40%;
  /* z-index: -1; */
  margin-top: 70px;
}
#frontcanvas {
  position: absolute;
  left: 0%;
  top: 0%;
  /* z-index: 2; */
}
#poleCanvas {
  position: absolute;
  left: 800px;
  top: -130px;
  z-index: -1;
}
#container {
  position: relative;
}
